<app-navbar></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <form action="index.html" method="post">
        <h1> Sign Up </h1>

        <fieldset>

          <legend><span class="number">1</span> Insert Charity Basic Info</legend>

          <label for="name">Name:</label>
          <input type="text"  [(ngModel)]="this.charity.name" name="name">

          <label for="email">Email:</label>
          <input type="email"  [(ngModel)]="this.charity.email"  name="email">

          <label for="password">Password:</label>
          <input type="password"  [(ngModel)]="this.charity.password"      name="password">

          <label for="password">Phone:</label>
          <input type="text"    [(ngModel)]="this.charity.phone"    name="phone">
          <!--
          <label for="password">City:</label>
          <input type="text"       name="user_password">

          <label for="password">Street Name:</label>
          <input type="text"       name="user_password">

          <label for="password">Building Number:</label>
          <input type="text"       name="user_password">
          -->

        </fieldset>
     
        <button type="submit" (click)="Register()">Sign Up</button>

       </form>
        </div>
      </div>

<app-footer></app-footer>
