slide{
  height: 450px;
}
.numaric{
  height: 30px;
 text-align: center;
 font-size: 40px;
 margin-top: 5px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn-save{
  background-color: #09cc7f;
  border: #09cc7f;
  z-index: 1000000000000000000000;
  box-shadow: 2px 1px 1px 1px;
  width: 50px;
  height: 35px;
  margin-right: 35px;
}