.formwarp{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 35px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.loginButton{
    background-color: #35858B;
    color: white;
    font-size: 16px;
}
