
<app-navbar></app-navbar>
<main>
  <!--? Hero Start -->
  <div class="slider-area2">
      <div class="slider-height2 d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap hero-cap2 pt-70 text-center">
                          <h2>Events</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Hero End -->
  <!--? Blog Area Start-->
  <section class="blog_area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-5 mb-lg-0">
                <section class="container-fluid">
                  <div class="row">

                    <div class="col-12">
                      <div class="col-lg-12 col-md-12">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img src="../assets/assets/img/gallery/socialEvents2.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#"><h4>A hand for Children</h4></a>
                                    <ul>
                                        <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                        <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                        <li>
                                            <button class="offset-2 col-10 btn-save">Join Now</button>
                                          </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                     

                    </div>
                  </div>
                </section>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <form action="#">
                              <div class="form-group">
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder='Search Keyword'
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Search Keyword'">
                                      <div class="input-group-append">
                                          <button class="btns" type="button"><i class="ti-search"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                  type="submit">Search</button>
                          </form>
                      </aside>

                      <aside class="single_sidebar_widget newsletter_widget">
                          <h4 class="widget_title" style="color: #2d2d2d;">Subscribe Us To Ge Latest Fielalds</h4>
                          <form action="#">
                              <div class="form-group">
                                  <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                              </div>
                              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                  type="submit">Subscribe</button>
                          </form>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Blog Area End -->
</main>
<app-footer></app-footer>

