<body>
  <nav class="navbar navbar-light bg-light nav" id="nav">
    <a class="navbar-brand heading" href="#">Bader Charity Dashboard</a>
  </nav>
  <div class="sidebar">
      <div class="logo-details" (click)="btnclicked()">
          <div class="Menuicons">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
              <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"/>
              <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
          <div class="logo_name">Dashboard</div>

      </div>
      <ul class="nav-list">
        <li>
            <a href="/charityAdmin">
              <i class='bx bx-info-square'></i>
                <span class="links_name">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/charityAdmin/campungies" >
                <i class='bx bx-user-circle' ></i>
                <span class="links_name">Campaingus</span>
            </a>
            <span class="tooltip">Campaingus</span>
        </li>
        <li>
          <a href="/charityAdmin/event">
            <i class='bx bx-home-alt-2' ></i>
              <span class="links_name">Events</span>
          </a>
          <span class="tooltip">Events</span>
      </li>
      


          <li class="profile" (click)="MoveOut()">
              <div class="profile-details">
                  <div class="name_job" style="color:white">
                      Logout
                  </div>
              </div>
              <i class='bx bxs-log-out'></i>
          </li>
      </ul>
  </div>
  <section class="container-full" id="section">
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
          <div class="col-md-4 border-right">
            <div class="p-3 py-5">
              
                <div class="col-md-12"><label class="labels">Type</label>
                    <input type="text" class="form-control" [(ngModel)]="type" placeholder="Type Of Service" value="">
                </div> <br>
                <div class="col-md-12"><label class="labels">Descroption</label>
                    <input type="text" class="form-control" [(ngModel)]="descr" placeholder="Service Descroption" value="">
                </div>
              
                <div class="col-md-12"><label class="labels">Target User</label>
                    <input type="text" class="form-control" [(ngModel)]="user" placeholder="Service Descroption" value="">
                </div>
                <div class="col-md-12"><label class="labels">Number of  User</label>
                    <input type="number" class="form-control"  [(ngModel)]="noUser" placeholder="Service Descroption" value="">
                </div>
                <div class="col-md-12"><label class="labels">Start At</label>
                    <input type="date" class="form-control" [(ngModel)]="date" placeholder="Service Descroption" value="">
                </div>
                <div class="d-flex justify-content-between align-items-center experience"><span>Save New Service</span>
                    <span class="border px-3 p-1 add-experience" (click)="SaveService()"><i class="fa fa-plus"></i>&nbsp;Save</span></div><br>
            </div>
          </div>
          <div class="col-md-4">
              <div class="p-3 py-5">
                 
                <div class="col-md-12"><label class="labels">City</label>
                    <input type="text" class="form-control" [(ngModel)]="city" placeholder="Service Descroption" value="">
                </div>
                                 
                <div class="col-md-12"><label class="labels">Street</label>
                    <input type="text" class="form-control" [(ngModel)]="street" placeholder="Service Descroption" value="">
                </div>
                                 
                <div class="col-md-12"><label class="labels">Building Number</label>
                    <input type="text" class="form-control" [(ngModel)]="build" placeholder="Service Descroption" value="">
                </div>
                  <div class="d-flex justify-content-between align-items-center experience" (click)="SaveAddress()"><span>Add Address</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Save</span></div><br>
                </div>
          </div>
      </div>
  </div>

  </section>

</body>

